body{
    font-family: Arial;
    margin:0;
    background:#111;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:#000;
}

button{
    padding:8px 14px;
    border:none;
    background:#ff3b3b;
    color:white;
    cursor:pointer;
    margin:5px;
}

.cars{
    display:flex;
    gap:30px;
    padding:40px;
}

.car{
    background:#222;
    padding:20px;
    border-radius:10px;
}

.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.7);
}

.modal-box{
    background:white;
    color:black;
    padding:25px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
}
